@font-face {
    font-family: Gilroy ;
    src: url(../assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy ;
    src: url(../assets/fonts/Gilroy-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy ;
    src: url(../assets/fonts/Gilroy-bold.ttf);
    font-weight: 700;
}