<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
 </ion-tab-button>
 <ion-tab-button tab="mapa" >
  <ion-icon name="location-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="promos" >
    <ion-icon name="pricetags-outline"></ion-icon>
    </ion-tab-button>
  <ion-tab-button   tab="favorites" >
    <ion-icon   name="star-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>