<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button routerLink="/home">
      <ion-icon slot="icon-only" color="light"  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Dirección</ion-title>
    </ion-buttons>
  </ion-toolbar>
 
  <iframe  buen sabor delivery src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13602.668043628133!2d-68.56246533572217!3d-31.533304433078904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96814170f934276b%3A0xa717762ce35bde76!2sEl%20buen%20sabor%20delivery!5e0!3m2!1ses!2sar!4v1656176586392!5m2!1ses!2sar" 
  width="600" height="450" style="border:0;" 
  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  <h3><ion-title> El buen sabor delivery</ion-title></h3> 
  <ion-card-subtitle>Dirección: C. Juan B Justo S 1154 Sur, J5400 San Juan</ion-card-subtitle>
  <ion-card-subtitle>telefono:  Whatsapp  2645155340 - </ion-card-subtitle>
  <ion-card-subtitle>Horarios de Atención de Lunes a Lunes de 9:00hs a 03:00hs</ion-card-subtitle>