<ion-content>
<div class="header">
<ion-buttons>
    <ion-button routerLink="/home/menu">
    <ion-icon slot="icon-only" color="light"  name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>
  <ion-buttons>
  <ion-button > 
    <ion-icon   slot="icon-only" color="light"  name="star-outline" ng-click="toggleStar(item)" ng-show="item.star" ></ion-icon>
  </ion-button>
  </ion-buttons> 
</div>

<!--  DETALLE DE PRODUCTOS -->
<div class="card item-icon-right" >
    <div class="image">
   <ion-img [src]="food.image"></ion-img> 
  </div>
     <div class="card-content">
    <div class="cart-title">
    <h2 class="ion-no-margin">{{food.titule}}</h2>
  <p class="ion-no-margin"><sup>$</sup>{{food.price | number:'1.2'}}</p>
    
  </div>
</div>

<div class="rates">
<app-badge icon="time" text ="30m"></app-badge>
<app-badge icon="star-outline" text ="4.5"></app-badge>
</div>
<div class="about">
  <h1>Descripción</h1>
  <p>{{food.descritpion}}</p>
</div>
<app-button (click)="addItemtocart()">Agregar al Carrito</app-button>

</div>
</ion-content>